PORT=3000
NODE_ENV=development
DB_USERNAME=maheraitzaz786_db_user
DB_PASSWORD=ugXPY9qSLK448IMY
MONGODB_URL=mongodb+srv://maheraitzaz786_db_user:ugXPY9qSLK448IMY@cluster0.scgsjm7.mongodb.net/test?retryWrites=true&w=majority&appName=Cluster0
UPSTASH_REDIS_URL="rediss://default:gQAAAAAAAa4UAAIgcDJiZDk0MTc3MjE5NDA0MWFkYmEzOWUwZWU2ZmM2YmU3NA@singular-locust-110100.upstash.io:6379"
